/*@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Fjalla+One&family=Nanum+Gothic&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap');*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(3px);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  font-family: 'Noto Sans KR', sans-serif;
  /*font-family: 'Gothic A1', sans-serif;*/
  font-size: inherit;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  font-size: 12px;
}

title {
    font-family: 'Abril Fatface', cursive;
}

body {
  margin : 0;
  padding: 0;
  font-size: 0;
  font-family:나눔바른고딕;
}

a {
  text-decoration: none;
  color: inherit;
}

input, button {
    /*appearance: none;*/
    border-radius : 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius : 0;
    -moz-border-radius : 0;
}
.hidden {
  overflow: hidden;
}

.thumb_nail {
  display : none;
}

/*nav {*/
/*  !* width : 100%; *!*/
/*  position : fixed;*/
/*  width : 100%;*/
/*  height : 50px;*/
/*  box-sizing: border-box;*/
/*  background-color : #fff;*/
/*  border-bottom: 4px solid #0051c8;*/
/*  z-index: 1;*/
/*}*/

/*HEADER*/
.navbar {
  height: 54px;
}
.navbar .header_top {
  max-width: 550px;
  width: 100%;
  padding-bottom: 7px;
  display: flex;
  border-bottom: 4px solid #0051c8;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  z-index: 1;
}
.navbar .header_top>div {
  max-width: 550px;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.navbar h1 {
  font-size: 24px;
  color: #1a1a1a;
  font-weight: 800;
  margin: 7px 0 0 0;
}
.navbar h2 {
  margin: 16px 0 0;
  font-size: 14px;
  color: #0051c8;
  font-weight: 500;
}

header{
  width: 100%;
  margin : 0 auto;
  /*border-bottom: 1px solid #000;*/
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

/*.header_pseudo_box {*/
/*  height : 70px;*/
/*  width : 100%;*/
/*}*/

.header_container {
  max-width : 550px;
  margin: 0 auto;
  /*font-size: 25px;*/
  /*padding : 0 0 0 20px;*/
  position: relative;
}

.header_box {
  /*width: 100%;*/
  /*margin-top: 60px;*/
  font-size: 70px;
  padding: 20px 10px 10px;
  display : flex;
  justify-content : space-between;
  color: #0051c8;
}

.header_box a h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 400;
  white-space: nowrap;
  text-indent: 3px;
}
.header_box a h4 {
  font-size: 38px;
  font-weight: 600;
  white-space: nowrap;
  margin: 0;
}

.header_box img{
  width : 65%;
  object-fit : contain;
}

/* LOGIN */
.login_box_container {
}
.login_box {
  display: flex;
  margin-left: 10px;
  padding-top: 10px;
}
.login_box form {
  margin-top: 4px;
  font-size: 0.8rem;
}
.login_box .input_wrap {
  display: flex;
  margin-top: 5px;
}
.login_box form label {
  min-width: 45px;
  height: 22px;
  line-height: 27px;
  /*padding-top: 8px;*/
  color: #1a1a1a;
  font-weight: 700;
  font-size: 12px;
}
.login_box form input {
  display : block;
  width : 100%;
  height: 15px;
  border: 1px solid #9d9d9d;
  padding : 5px 0;
  /*margin : 8px 0;*/
  background: #fcfcfc !important;
  /*border-radius: 3px;*/
  text-indent: 5px;
  font-size: 12px;
}
.login_box form input:focus {
  border-color: #0051c8;
  outline: none;
}

.login_box_buttons {
  display : flex;
  margin-left: 5px;
}

.login_box_buttons button {
  width: 25px;
  height: 60px;
  border : 0;
  /* background-color : transparent; */
  cursor : pointer;
  padding : 5px;
  margin : 8px 5px 0 0;
  background-color : #0051c8;
  font-size : 0.8rem;
  font-family: 'Fjalla One', sans-serif;
  /* line-height: 35.46px; 부모 .answer_button_box의 height */
  color : white;
  font-weight: 500;
}
.login_box_buttons button:first-child {
  margin-right: 5px;
}
.login_box_buttons button:last-child {
  background: #fff;
  color: #0051c8;
  border: 1px solid #0051c8;
  font-weight: 500;
}
.login_box_buttons button:hover {
  background-color : rgba(0,41,100,255);
}

/* IS_LOGIN */
.login_box_container .is_login {
 /*display: block;*/
  margin: 0;
}
.login_box_container .is_login>div:first-child {
  margin-right: 5px;
}
.login_box p {
  font-size:15px;
  margin: 0;
}
.login_box span {
  color :rgba(0,81,200,255);
}
.login_box_container .is_login {
  padding-top: 0px;
}
.login_box_container .is_login .login_box_buttons {
  /*display: block;*/
}
.login_box_container .is_login .login_box_buttons button {
  height: 88px;
  margin: 0 5px 0 0;
  line-height: 1.2;
}
.sms_pseudo_container {
  position: absolute;
  top: 60px;
  right: 100px;
}
.sms_box{
  box-sizing : border-box;
  padding : 10px 0  10px;
  width : 50px;
  height : 70px;
  float : right;
  /*margin-top : -80px;*/
  cursor : pointer;
  color : rgba(0,81,200,255);
}

.sms_box:hover {
  /*color : rgba(50,141,200,255);*/
  background-color : rgba(242,248,252,255);
  /*border : 1px solid rgba(0,81,200,255);*/
  border-radius: 3px;
}

.sms_box img{
  display : block;
  height : 40%;
  margin : auto;
}

.sms_box p {
  font-size: 10px;
  margin : 1px;
  text-align: center;
}


.plan_logo_menu_container {
    background-color : rgba(0,81,200,255);
    height : 50px;
    width : 100%;
    max-width: 550px;
    margin : auto;
}

        .plan_box {
            width : 50px;
            height : 50px;
            font-size : 12px;
            color : white;
            text-align : center;
            cursor : pointer;
            float : right;
            box-sizing: border-box;
            padding : 10px 0px 10px 10px;
        }

        .plan_box:hover {
            /*opacity: 0.8;*/
          animation: blink 1s infinite;
        }

            .plan_box img {
                display : block;
                height : 65%;
                margin : auto;
            }

            .plan_box p {
                height : 35%;
                font-size: 10px;
                margin : 3px 0;
                text-align: center;
            }

        .admin_box {
            width : 50px;
            height : 50px;
            font-size : 30px;
            color : white;
            text-align : center;
            cursor : pointer;
            float : right;
            box-sizing: border-box;
            padding : 10px 0px 10px 10px;
        }

        .admin_box a:visited, .admin_box a:link, .admin_box a:hover, .admin_box a:active {
            text-decoration: none;
            color : white;
        }

        .logo_box {
            height : 50px;
            color : white;
        }

        .logo_box a {
            /* display : block; */
            display : flex;
            justify-content: center;
            height : 100%;
            text-align : center;

            box-sizing : border-box;
            padding : 10px 0 10px 30px;
        }

        .logo_box a:visited, .logo_box a:link, .logo_box a:hover, .logo_box a:active {
            text-decoration : none;
            color : white;
        }

        .logo_box img {
            display:block;
            height : 100%;
        }

        .logo_box img:hover {
            opacity: 0.8;
        }

.verticalLine1 {
    width : 100%;
    height : 1.5px;
    background-color : black;
    opacity: 0.2;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}


/* MAIN*/
.main_container{
  /*padding : 0 20px 20px 20px;*/
  max-width : 550px;
  margin : 0 auto 50px;
  opacity: 0;
  animation: fade-in 2s ease-in-out;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  position: relative;
}
.main_container .tab_wrap,
.post_detail_wrap .tab_wrap {
  height: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.main_container .tab_wrap .tab_btn,
.post_detail_wrap .tab_wrap .tab_btn {
  border: 0;
  height: 100%;
  width: 80px;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
}
.main_container .tab_wrap .tab_btn.on,
.post_detail_wrap .tab_wrap .tab_btn.on {
  font-weight: 700;
  position: relative;
}
.main_container .tab_wrap .on:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 60%;
  height: 4px;
  background: #0051c8;
}
.main_container .tab_wrap .tab_btn:nth-child(3) {
  color: #ff5a5a;
}
.main_container .open_label {
  position: absolute;
  width: 55px;
  height: 70px;
  top: 0px;
  right: 9px;
  cursor: pointer;
}
.main_container .open_label img {
  width: 55px;
  height: 70px;
}
.main_container .open_label > div {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 9px;
  line-height: 1.2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 14px;
  text-align: center;
}

/* QUESTION */
#questionContainer {
  padding: 0 10px 0px;
  border-bottom: 1px solid #eee;
  margin-top: 0;
}
.question_container {
  margin : 0;
  padding-top: 15px;
}
.question_container_header{
    padding : 0 10px;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
    display : flex;
    cursor : default;
}
.season_box {
  flex : 1;
  display : inline-block;
}
.countdown_box {
  flex : 1;
  display : inline-block;
  text-align : right;
  color : rgba(0,81,200,255);
}

.question_box {
margin : 0 auto;
opacity: 0;
/* background-color : olive; */
animation: fade-in 2s ease-in-out;
animation-delay: 1s;
animation-fill-mode: forwards;
  padding: 0 10px;
}

.question_box img {
  display : block;
  /* padding : 10px; */
  width : 100%;
  max-width : 550px;
  margin :auto;
}
.verticalLine2 {
    width : 100%;
    height : 2px;
}

/* ANSWER CONTAINER */
.answer_container {
  display : flex;
  justify-content: center;
  height: 50px;
  margin-bottom: 20px;
}
.answer_header {
  display : inline-block;
  font-size : 17px;
  line-height: 50px;
  color: #0051c8;
  font-weight: 900;
  /*font-family: 'Fjalla One', sans-serif;*/
}
.answer_container .answer_input_button_box {
  display : inline-block;
  /*flex : 6;*/
}
.answer_box {
  width : 150px;
  text-align : center;
  font-size : 16px;
  margin: 0 10px 0 5px;
}
.answer_box input:focus {
    background-image: none;
    border:0px;
}

.answer_box input:focus-visible{
    outline:0;
}
#answer_button {
    width : 100%;
    height : 100%;
    border : 0;
    padding : 0;
    background-color : rgba(0,81,200,255);

    font-size : 20px;
    font-family: 'Fjalla One', sans-serif;
    line-height: 35.46px; /*부모 .answer_button_box의 height*/
    color : white;
    font-weight: normal;
}
#answer_button:hover {
    width : 100%;
    height : 100%;
    border : 0;
    padding : 0;
    background-color : rgba(0,41,100,255);
    cursor: pointer;

    font-size : 20px;
    font-family: 'Fjalla One', sans-serif;
    line-height: 35.46px; /*부모 .answer_button_box의 height*/
    color : whitesmoke;
    font-weight: normal;
            }

.answer_live_container
{
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  font-size: 1rem;
  height: 10rem;
}

.asnwer_live_title_and_count {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid grey;
}

.answer_live_box {
  overflow-y: auto;
}

.answer_live_box_content
{
  display: flex;
}
/*.comment_input_box {*/
/*  border: 0.5px solid grey;*/
/*  border-radius: 3px;*/
/*  padding: 10px;*/
/*}*/

.answer_box input {
  border-radius : 3px;
  width : 100%;
  height: 30px;
  padding : 0;
  margin: 10px 0;
  display : block;
  box-sizing: border-box;
  /*background-image: url(https://cdn2.iconfinder.com/data/icons/dottie-design-part-2/24/design_081-pencil-pen-draw-write-256.png);*/
  /*background-size: contain;*/
  /*background-position: 15px center;*/
  /*background-repeat: no-repeat;*/
  background-color: #eee;
  text-indent: 10px;
  border : 1px solid #9d9d9d;
  font-size : 16px;
}

.answer_box input:focus {
  background-image: none;
  border: 1px solid #0051c8;
}

.answer_box input:focus-visible{
  outline:0;
}

#answer_button {
  width : 80px;
  height : 30px;
  line-height: 30px;
  border : 0;
  margin: 10px 0;
  background-color : #0051c8;
  font-size : 16px;
  color : #fff;
  border-radius: 3px;
  /*font-family: 'Fjalla One', sans-serif;*/
}

#answer_button:hover {
  width : 80px;
  height : 30px;
  line-height: 30px;
  border : 0;
  padding : 0;
  background-color : rgba(0,41,100,255);
  cursor: pointer;
  font-size : 16px;
  /*font-family: 'Fjalla One', sans-serif;*/
  /*line-height: 35.46px; !*부모 .answer_button_box의 height*!*/
  color : whitesmoke;
  font-weight: normal;
}

/* NOTICE */
.notice_wrap {
  font-size: 14px;
}
.notice_wrap ul {
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
.notice_wrap ul li {
  font-size: 14px;
  font-weight: 600;
  text-indent: 10px;
}

/* WRITE */
.write_wrap {
  max-width: 545px;
  margin: 0 auto;
}
.write_header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 10px;
}
.write_header button {
  border: 0;
  background: #fff;
  cursor: pointer;
}
.write_header .close_btn {
  padding: 0;
}
.write_header .close_btn img {
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
}
.write_header .regist_btn {
  background: #0051c8;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
}
.write_contents {
  margin-bottom: 100px;
}
.write_contents .attached_img{
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

.write_wrap .textarea_wrap {
  /*padding: 0 10px;*/
}
.write_wrap .textarea_wrap .tool_box {
  /*border-top: 1px solid #e5e5e5;*/
  border-bottom: 1px solid #e5e5e5;
  padding: 5px;
  height: 30px;
}
.comment_input_box textarea.title {
  display : block;
  box-sizing : border-box;
  width : 100%;
  height: 60px;
  overflow: hidden;
  /*border-radius: 3px;*/
  padding : 15px 10px;
  font-size : 15px;
  border: 0;
  /*border-top: 1px solid #ccc;*/
  border-bottom: 1px solid #ccc;
  resize : none;
  /*outline-color : rgba(0,41,100,255);*/
  outline: 0;
  font-size: 20px;
  color: #1a1a1a;
}
.comment_input_box textarea.content {
  display : block;
  box-sizing : border-box;
  width : 100%;
  height : 50vh;
  border-radius: 3px;
  padding : 10px;
  font-size : 15px;
  border:0;
  resize : none;
  /*outline-color : rgba(0,41,100,255);*/
  outline: 0;
  margin-top: 10px;
}
.comment_input_box textarea.title::placeholder {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.comment_input_box {
    border_bottom : 1px solid grey;
    /*border-radius : 3px;*/
    /*padding : 10px;*/
}
.comment_input_box:focus {
    border-color :  rgba(0,41,100,255);
}


.comment_input_box img {
  /*display: block;*/
  /*box-sizing : border-box;*/
  /*max-width: 65%;*/
  /*border-radius: 3px;*/
  /*padding: 5px;*/
  /*cursor: pointer;*/
  /*margin: auto;*/
}
.comment_input_box img:hover {
  opacity: 0.2;
}
.comment_input_box_charnumbs_and_button {
  font-size : 15px;
  display : flex;
  justify-content : space-between;
  height : 35px;
  padding: 0 10px;
}

.comment_input_box_charnumbs {
}

.comment_input_box_charnumbs span{
    line-height : 35px;
}
.comment_input_box_charnumbs_and_button label {
  display: inline-block;
  line-height: 35px;
  border: 0;
  background-color: transparent;
  font-size: 25px;
  color : rgba(0,41,100,255);
  cursor : pointer;
  margin: 0 10px;
}

.comment_input_box_charnumbx_and_button label:hover {
  color: rgba(0,81,100,255);
}

.comment_input_box_charnumbs_and_button button {
    line-height: 35px;
    border : 0;
    background-color: transparent;
    font-size: 25px;
    color : rgba(0,41,100,255);
    cursor : pointer;
}

.comment_input_box_charnumbs_and_button button:hover {
    color: rgba(0,81,100,255);
}

.cocomment_input_box_charnumbs_and_button button {
    border : 0;
    background-color: transparent;
    font-size: 15px;
    color : rgba(0,41,100,255);
    cursor : pointer;
}

.comment_container {
  padding: 0px;
}
.comment_container_header {
    padding : 10px;
    margin : 10px 0 10px 0;
    font-size : 20px;
    background-color: rgba(231,240,249,255);
    border-radius: 5px;
}

.comment_container_header_today_and_my_comment {
    display : flex;
    justify-content : space-between;
}

.comment_container_header_today {
    display : inline-block;
    padding : 10px;
}

.comment_container_header_my_comment {
    display : inline-block;
    padding: 10px;
    cursor: pointer;
}

.comment_container_header_my_comment:hover {
  color : dimgrey;
}

.comment_container_header_my_comment i {
    /* padding-top : 10px; */
}

.comment_container_header_notice {
    font-size : 12px;
    color : grey;
    padding: 10px;
}

.comment_list_filter {
    padding : 10px;
}

.comment_list_filter button {
    font-size : 15px;
    background-color : transparent;
    border : 0;
    cursor : pointer;
    color : rgba(168,168,168,255);
}

.comment_list_filter_vertical_line {
    background-color : rgba(166,166,166,255);
    height : 1px;
}

.comment_list_box {
    font-size : 20px;
}

.comment_list_page {
    font-size : 15px;
}

/* POSTLINE - COMMENTLINE */
.comment_line_box {
  padding : 15px 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.comment_line:hover {
  background-color : rgba(250,250,250,255);
  /*background-color: #b3b3b3;*/
}
.title:hover {
  text-decoration: underline;
}
.content_info_box {
  display : flex;
  justify-content : space-between;
}
.content_info_tools{
  width: 100%;
  display : flex;
  padding : 0 10px 0 10px;
}
.comment_line_user {
  display : inline-block;
  font-size : 12px;
  color : rgba(49, 49, 49, 0.8);
  margin-top: 10px;
}
.comment_line_user .nick_name {
  padding-right: 10px;
  position: relative;
  color: #9d9d9d;
}
.comment_line_user .nick_name::before {
  position: absolute;
  content: '';
  width: 1px;
  background: #9d9d9d;
  height: 60%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.content_info_tools .updated_at {
  display : inline-block;
  font-size: 12px;
  color : #9d9d9d;
  margin-top: 10px;
  padding: 0 10px;
  position: relative;
}
.content_info_tools .updated_at::before {
  position: absolute;
  content: '';
  width: 1px;
  background: #9d9d9d;
  height: 60%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.content_info_tools .hits {
  display : inline-block;
  font-size: 12px;
  color : #9d9d9d;
  margin-top: 10px;
  padding-left: 10px;
}
.comment_line_box .comment_count_box {
  box-sizing: border-box;
  margin-right: 10px;
  min-width: 23px;
}
.comment_line_box .comment_count_box .comment_count {
  text-align: center;
  color: #9d9d9d;
  position: relative;
  font-size: 14px;
  font-weight: 600;
}
.comment_line_box .comment_count_box .comment_count.on {
  color: #0051c8;
}
.comment_line_box .comment_count_box .comment_count.on::before {
  background: #0051c8;
}
.comment_line_box .comment_count_box .comment_count::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 3px;
  /*background: #0051c8;*/
  background: #9d9d9d;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
}
.comment_line_box .comment_count_box span {
  font-size: 12px;
  color: #9d9d9d;
}
  /*.cocomment_line {*/
/*    padding : 10px 0 10px 10px;*/
/*    border-left : 6px solid grey;*/
/*}*/

/*.cocomment_line:hover {*/
/*    border-color: rgba(0,41,100,255);*/
/*}*/
/*.cocomment_line_user_and_updated_at_and_tool_box{*/
/*    display : flex;*/
/*    justify-content : space-between;*/
/*}*/
    /*.cocomment_line_user_and_updated_at{*/
    /*    padding : 0;*/
    /*}*/
/*.cocomment_line_user {*/
/*  display : inline-block;*/
/*  font-size : 12px;*/
/*  color : rgba(49, 49, 49, 0.8);*/
/*}*/
        /*.cocomment_line_updated_at {*/
        /*    display : inline-block;*/
        /*    font-size : 10px;*/
        /*    color : rgba(168,168,168,255);*/

        /*}*/


.comment_line_tool_box_btn{
    padding : 0 10px 0 10px;
    border : 0;
    background-color : transparent;
    cursor: pointer;
    font-size : 17px;
}
.comment_line_tool_box_btn:hover{
  color : rgba(0,41,100,255);
}
    /*.cocomment_line_tool_box_btn{*/
    /*    padding : 0 10px 0 10px;*/
    /*    border : 0;*/
    /*    background-color : transparent;*/
    /*    cursor: pointer;*/
    /*    font-size : 17px;*/
    /*}*/


    /*.cocomment_line_tool_box_btn:hover{*/
    /*    color : rgba(0,41,100,255);*/
    /*}*/


    .comment_line_tool_box_popup {
        position : fixed;
        z-index : 1;
        left : 0px; top : 0px; width : 100%; height : 100%;
        overflow : auto;
        /* background-color : rgba(196, 196, 196, 0.5); */
        padding-bottom : 20px;

        display : block; /*얘를 함수로 값을 바꿔줄 것이다.*/
    }
    /*.cocomment_line_tool_box_popup {*/
    /*    position : fixed;*/
    /*    z-index : 1;*/
    /*    left : 0px; top : 0px; width : 100%; height : 100%;*/
    /*    overflow : auto;*/
    /*    !* background-color : rgba(196, 196, 196, 0.5); *!*/
    /*    padding-bottom : 20px;*/

    /*    display : none; !*얘를 함수로 값을 바꿔줄 것이다.*!*/
    /*}*/

    .comment_line_tool_box {
        position : absolute;
        font-size:20px;
        z-index : 1;

        transform: translate(-100%, 0%);
        background-color : white;
        padding : 5px;

        border-radius: 10px;
        display : block;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
    }
    /*.cocomment_line_tool_box {*/
    /*    font-size:20px;*/
    /*    z-index : 1;*/

    /*    transform: translate(-100%, 0%);*/
    /*    background-color : white;*/
    /*    padding : 5px;*/

    /*    flex-direction : column;*/
    /*    justify-content : center;*/

    /*    border-radius: 10px;*/
    /*    display : none;*/
    /*}*/

    .comment_line_tool_box button {
        font-size :25px;
        background-color : transparent;
        color : rgba(0,41,100,255);
        border : 0;
        cursor : pointer;
    }
    /*.cocomment_line_tool_box button {*/
    /*    font-size : 20px;*/
    /*    background-color : transparent;*/
    /*    color : rgba(0,41,100,255);*/
    /*    border : 0;*/
    /*    cursor : pointer;*/
    /*}*/

    .comment_edit_input_box {
        padding : 10px;
        /* background-color: white; */
    }

    /*.cocomment_edit_input_box {*/
    /*    padding : 10px;*/
    /*    !* background-color: white; *!*/
    /*}*/

    .comment_edit_input {
        flex : 5;
        box-sizing : border-box;
        padding : 10px;
        width : 100%;

        resize : none;
        border : 0;
        outline-color : rgba(0,41,100,255);
    }

    /*.cocomment_edit_input {*/
    /*    flex : 5;*/
    /*    box-sizing : border-box;*/
    /*    padding : 10px;*/
    /*    width : 100%;*/

    /*    resize : none;*/
    /*    border : 0;*/
    /*    outline-color : rgba(0,41,100,255);*/
    /*}*/

    .comment_edit_charnumbs_and_button_and_cancel_button_box {
        display : flex;
        justify-content : space-between;
    }
    /*.cocomment_edit_charnumbs_and_button_and_cancel_button_box {*/
    /*    display : flex;*/
    /*    justify-content : space-between;*/
    /*}*/

    .comment_edit_button {
        padding : 5px 5px 5px 15px;
        border : 0;
        background-color : transparent;
        font-size : 15px;
        cursor : pointer;
    }
    /*.cocomment_edit_button {*/
    /*    padding : 5px 5px 5px 15px;*/
    /*    border : 0;*/
    /*    background-color : transparent;*/
    /*    font-size : 15px;*/
    /*    cursor : pointer;*/
    /*}*/

    .comment_edit_cancel_button {
        padding : 5px 5px 5px 15px;
        border : 0;
        background-color : transparent;
        font-size : 15px;
        cursor : pointer;
    }
    /*.cocomment_edit_cancel_button {*/
    /*    padding : 5px 5px 5px 15px;*/
    /*    border : 0;*/
    /*    background-color : transparent;*/
    /*    font-size : 15px;*/
    /*    cursor : pointer;*/
    /*}*/

.comment_line_content {
    font-size: 1rem;
    padding : 0 10px;
    word-break :break-all;
    white-space : pre-wrap;
}
.comment_line_content .title {
  position: relative;
  padding-left: 15px;
  font-size: 14px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  /*width: 500px;*/
}
.comment_line_content .title:before {
  content: '';
  position: absolute;
  /*background-image: url("data:image/svg+xml,%3Csvg width='3' height='3' viewBox='0 0 3 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.5' cy='1.5' r='1.5' fill='%230051C8'/%3E%3C/svg%3E%0A");*/
  width: 5px;
  height: 5px;
  left: 0;
  top: 50%;
  background: #0051c8;
  margin-top: 2px;
  transform: translateY(-50%) rotate(45deg);
}
.cocomment_line_content {
    padding : 10px 0;
    word-break :break-all;
    white-space : pre-wrap;
}

    .comment_edit_input_box{

    }
    .cocomment_edit_input_box{

    }
.comment_line_image button {
  padding: 10px;
  border : 0;
  background-color: transparent;
  font-size: 1rem;
  color : rgba(0,41,100,255);
  cursor : pointer;
}
.comment_line_image img{
  display: block;
  box-sizing : border-box;
  max-width: 100%;
  border-radius: 5px;
  border : 0.5px transparent;
  padding: 0 10px;
}

.comment_line_cocomment_and_like {
}
.cocomment_line_like {
    padding : 0 10px;
    display : flex;
    justify-content : space-between;
}

    .comment_line_open_cocomment {
        background-color:transparent;
        border : 0;
        padding-left : 0; /*<button> default 초기화*/
        color : rgba(0,41,100,255);
        cursor : pointer;
    }

.comment_like {
    background-color:transparent;
    border : 0;
    color : rgba(0,41,100,255);
    cursor : pointer;
}
.comment_like span {
  font-size: 12px;
}
.comment_like .fa-thumbs-up {
  font-size: 12px;
}
/*.cocomment_like {*/
/*    background-color:transparent;*/
/*    border : 0;*/
/*    color : rgba(0,41,100,255);*/
/*    cursor : pointer;*/
/*}*/

.comment_line_cocomment_container{
    display : none;
    padding-left : 40px;
}

    .cocomment_input_box{
        font-size: 0;
        padding : 10px 10px 10px 0;
    }

    .cocomment_input_box:focus {
    }

        .cocomment_input_box_textarea_and_charnumbs_and_button {
            border-radius: 3px;
            border : 0.5px solid grey;
            background-color:white;
            padding : 5px;
        }


        .cocomment_input_box form textarea {
            display : block;
            box-sizing : border-box;
            width : 100%;
            padding : 10px;
            font-size : 15px;

            resize : none;
            border : 0;
            outline-color : transparent;
        }

        .cocomment_input_box form textarea:focus {
            /* height : 6em; */
        }

        .cocomment_input_box_charnumbs_and_button {
            font-size : 15px;
            display : flex;
            justify-content : space-between;
            height : 35px;
        }

        .cocomment_input_box_charnumbs {
        }

        .cocomment_input_box_charnumbs span{
            line-height : 35px;
        }

        .cocomment_input_box_charnumbs_and_button button {
            border : 0;
            background-color: transparent;
            font-size: 15px;
            color : rgba(0,41,100,255);
            cursor : pointer;
        }

.comment_line_vertical_line{
    background-color : rgba(166,166,166,255);
    height : 1px;
}
.cocomment_line_vertical_line{
    height : 5px;
}

.comment_list_navigator {
    font-size: 1rem;
    padding : 10px;
    display : flex;
    justify-content: center;
}
.pagination_btn {
  font-size: 13px;
}

.comment_list_navigator button {
    border : 0;
    background-color : transparent;
    padding : 0 10px;
    cursor: pointer;
}
.comment_list_navigator button:hover {
    color : rgba(0,41,100,255);
}

.comment_list_navigator div {
    width : 100px;
    text-align : center;
    font-size : 15px;
}

.verticalLine3 {
    width : 100%;
    height : 2px;
    background-color :black;
}

.footer_image_container {
    display: flex;
    padding: 10px 0px;
}
/*when hover, want to make it blink*/
.footer_image_container:hover {
    /*animation : blink 2s infinite;*/
  /*recommand me a nice animation*/
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.footer_image_container_img {
    flex : 6.5;
}

.footer_image_container_img img {
    width : 100%;
    height : 100%;
}

.footer_image_container_pseudo {
    flex : 3.5;
}

footer {
    display : block;
    background-color : rgba(223, 223, 223, 0.5);
    padding : 10px;
    margin : 10px 0;
}

.aboutUs_container {
    padding : 15px 0;
}

.aboutUs_header {
    font-size : 20px;
    line-height : 2;
    font-family: 'Abel', sans-serif;
    font-weight: 200;
}

.aboutUs_content {
    font-size : 11px;
    font-family: 'Nanum Gothic', sans-serif;
    line-height : 1.7;
}

    .aboutUs_content a:link {
        text-decoration: none;
    }

    .aboutUs_content a:visited {
        text-decoration: none;
    }


.caution_container {
    /*padding : 15px 0;*/
  padding-bottom: 51px;
}

.caution_header {
    font-size : 20px;
    line-height : 2;

    font-family: 'Abel', sans-serif;
    font-weight: 200;
}

.caution_content {
    font-size : 11px;
    font-family: 'Nanum Gothic', sans-serif;
    line-height : 1.7;
}

    .caution_content a:link {
        text-decoration: none;
    }

    .caution_content a:visited {
        text-decoration: none;
    }


/* user_creation_form.html */
.profile_creation_popup_background{
    width : 100%;
    height : 100%;
}

.user_profile_form_container{
    font-size : 15px;

    position : absolute;
    left : 50%; top : 50%;
    transform: translate(-50%, -50%);
    max-width:420px;
    width : 50%;
    /* height:40%; */
    background-color : white;
    padding : 35px;

    display : flex;
    flex-direction : column;
    justify-content : center;

    border-radius: 10px;
}

    .user_profile_form_container #id_username {
        color : rgba(0,81,200,255);
        font-size : 50px;
        font-family: 'Fjalla One', sans-serif;
        line-height: 35.46px;
    }
    .user_profile_form_container {
        display : flex;
        flex-direction : column;
        justify-content : center;
    }

    .user_profile_form_container  div {
        display : flex;
        justify-content : space-between;
        margin : 8px 0;
    }

/* USER CREATION FORM */
.flex {
    display: flex;
}
.space_between {
    justify-content: space-between;
}
.w_100 {
    width: 100%;
}

.user_creation_form_container {
    /* margin-top: 30px; */
    font-size: 12px;
    background-color : white;
    padding : 20px;
    max-width: 550px;
    margin: 0 auto;
  box-sizing: border-box;
    /*// make child centered*/
}
.user_creation_form_container h1 {
	color: rgba(0,81,200,255);
	font-size: 45px;
	font-family: 'Fjalla One', sans-serif;
    line-height: 35.46px;
    line-height: initial;
    margin: 0 !important;
}
.user_creation_form_header_signin{
    color : rgba(0,81,200,255);
    font-size : 50px;
    font-family: 'Fjalla One', sans-serif;
    line-height: 35.46px;
    margin-bottom: 30px;
}
.user_creation_form_container .input_wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    height: 38px;
}
.user_creation_form_container span {
    color: #ff5a5a;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    word-break:break-all;
    text-align: right;
}
.user_profile_form_container  p {
    line-height: 24px;
    display : inline-block;
}
.user_creation_form_container p {
    min-width: 70px;
}
.user_profile_form_container input {
    display : block;
    text-indent: 5px;
    background-color : rgba(242,248,252,255);
    box-sizing: border-box;
    font-size : 12px;
    border : 0;
    border-bottom : 1px solid rgba(0,81,200,255);
    padding : 0;
    max-width: 55%;
}
.user_creation_form_container_input {
    display : block;
    text-indent: 5px;
    background-color : rgba(242,248,252,255);
    box-sizing: border-box;
    font-size : 12px;
    border : 0;
    border : 1px solid rgba(0,81,200,255);
    padding : 0;
    width: 100%;
    /* width : 55%; */
    /* max-width: 55%; */
    border-radius: 5px;
}

input[type="checkbox"] + label{
display: inline-block;
width: 20px;
height: 20px;
border:2px solid #434343;
position: relative;
margin-right: 15px;
border-radius: 2px;
margin-top: 4px;
color: rgba(0,81,200,255);;
}
input[class=user_creation_form_checkbox]:checked + label::after{
content:'✔';
font-size: 20px;
width: 20px;
height: 20px;
text-align: center;
position: absolute;
left: 0;
top:0;
}

    .user_profile_form_container  ul,
    .user_creation_form_container  ul {
        font-size : 10px;
        color : red;
        text-align: right;
        list-style: none;
    }

    .user_profile_form_container  button,
    .user_creation_form_container  button {
        width : 100%;
        height : 100%;
        margin : 10px 0 ;
        border : 0;
        padding : 0;
        background-color : rgba(0,81,200,255);

        font-size : 20px;
        font-family: 'Fjalla One', sans-serif;
        line-height: 30px;
        color : white;
        font-weight: normal;
    }

    .user_profile_form_container  button:hover,
    .user_creation_form_container  button:hover {
        background-color : rgba(0,41,100,255);
    }

.user_creation_form_container {
    /* display : flex;
    flex-direction: column;
    justify-content: content; */
}


.profile_creation_popup {
    position : fixed;
    z-index: 1;
    left:0px; top : 0px;
    width:100%; height:100%;
    background-color : rgba(196, 196, 196, 0.5);
    /* display : none; */
}
.code_btn {
    /* margin-top: 15px; */
    line-height: 38px;
    min-width: 75px;
    text-align: center;
    border: 1px solid #e5e5e5;
    font-size: 12px;
    border-radius: 10px;
    padding: 0 5px;
    margin-left: 10px;
}
.agreement_wrap {
    margin-top: 20px;
}
.agreement_wrap input {
    display: none;
}
.agreement_wrap .agreement_text {
    margin-top: 8px;
}
.agreement_text {
    margin-top: 8px;
}
.user_creation_form_checkbox {
    margin: 0;
}
.join_btn {
  background: rgba(0,81,200,255);
  width: 100%;
  height: 45px !important;
  border-radius: 10px;
  margin-top: 20px !important;
}
.join_btn a {
    display: block;
    font-size: 16px;
}
.agree_detail {
    margin-top: 8px;
    font-weight: 700;
    font-size: 12px;
}

/* POST DETAIL */
.post_detail_wrap {
  margin: 0 auto 75px;
  max-width: 550px;
}
.post_detail_contents_wrap {
  /*margin-top: 105px;*/
  font-size: 12px;
  margin-top: 13px;
}
.post_detail_contents_wrap .title_box {
  height: 70px;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
}
.post_detail_contents_wrap .title_box textarea {
  font-size: 18px;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none;
  font-weight: 500;
}
.post_detail_contents_wrap .post_info_box {
  color: #9d9d9d;
  font-size: 12px;
  /*display: flex;*/
  position: relative;
}
.post_detail_contents_wrap .post_info_box .level {
  background: #eee;
  font-size: 12px;
  padding: 0 6px;
  color: #0051c8;
  margin-right: 3px;
}
.post_detail_contents_wrap .nick_name,
.post_detail_contents_wrap .date {
  position: relative;
  padding-right: 8px;
}
.post_detail_contents_wrap .nick_name::before {
  position: absolute;
  content: '';
  width: 1px;
  background: #9d9d9d;
  height: 60%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.post_detail_contents_wrap .date::before {
  position: absolute;
  content: '';
  width: 1px;
  background: #9d9d9d;
  height: 60%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.layer {
  display: inline-block;
  float: right;
  cursor: pointer;
}
.layer img {
  width: 20px;
  height: 20px;
}
.layer_list {
  display: none;
  position: absolute;
  right: 8px;
  border: 1px solid rgba(0,0,0,.06);
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 2px 10px rgba(0,0,0,.06);
  border-radius: 6px;
  padding: 5px 10px;
}
.layer_list li {
  margin-bottom: 5px;
  cursor: pointer;
}
.layer_list li:hover {
  color: #000;
}
.layer_list li:active {
  color: #000;
}
.post_info_box .report {
  float: right;
  width: 24px;
  font-size: 10px;
  color: #9d9d9d;
  text-align: center;
  margin-top: -3px;
  margin-right: 10px;
}
.post_info_box .report img {
  width: 14px;
  margin: 0 auto;
  display: block;

}
.post_detail_contents_wrap .content_wrap {
  margin: 20px 10px 50px;
}
.post_detail_contents_wrap .content_wrap .content {
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  /*height: 100%;*/
  border: none;
  resize: none;
  outline: none;
  white-space: pre-wrap;
  word-break: break-word;
}
.post_detail_contents_wrap .content_wrap .image {
  width: 100%;
  margin-top: 30px;
}
.post_detail_contents_wrap .recommend_btn {
  width: 24px;
  margin: 0 auto;
  cursor: pointer;
}
.post_detail_contents_wrap .recommend_btn img {
  width: 100%;
}
.post_detail_contents_wrap .recommend_btn span {
  display: inline-block;
  text-align: center;
  width: 24px;
  color: #0051c8;
  font-size: 14px;
  font-weight: 600;
}
.post_detail_contents_wrap .ad_area {
  margin: 10px 0;
}
.post_detail_contents_wrap .ad_area img {
  width: 100%;
}
.empty_line {
  width: 100%;
  height: 15px;
  background: #f5f5f5;
}
.back_list_btn {
  display: block;
  width: 95%;
  margin: 30px auto 0;
  height: 40px;
  background: #0051c8;
  color: #fff;
  border: 0;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
}

  /*DOCK BAR*/
.dockbar_wrap {
  position: fixed;
  max-width: 550px;
  width: 100%;
  bottom: 0;
  /*left: 0;*/
  transform: translateX(-50%);
  left: 50%;
  background: #fff;
  border-top: 3px solid #0051c8;
}
.dockbar_list {
  max-width: 545px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  box-sizing: border-box;
}
.dockbar_list a {
  cursor: pointer;
}
.dockbar_list a:hover span {
  color: #002964;
  transition: all .5s;
}
.dockbar_list a .img {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  display: block;
  transition: all .5s;
}
.dockbar_list>div:first-child a .img {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99998 19V14H14V19C14 19.55 14.45 20 15 20H18C18.55 20 19 19.55 19 19V12H20.7C21.16 12 21.38 11.43 21.03 11.13L12.67 3.59997C12.29 3.25997 11.71 3.25997 11.33 3.59997L2.96998 11.13C2.62998 11.43 2.83998 12 3.29998 12H4.99998V19C4.99998 19.55 5.44998 20 5.99998 20H8.99998C9.54998 20 9.99998 19.55 9.99998 19Z' fill='%230051C8'/%3E%3C/svg%3E%0A");
}
.dockbar_list>div:first-child a .img:hover {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99998 19V14H14V19C14 19.55 14.45 20 15 20H18C18.55 20 19 19.55 19 19V12H20.7C21.16 12 21.38 11.43 21.03 11.13L12.67 3.59997C12.29 3.25997 11.71 3.25997 11.33 3.59997L2.96998 11.13C2.62998 11.43 2.83998 12 3.29998 12H4.99998V19C4.99998 19.55 5.44998 20 5.99998 20H8.99998C9.54998 20 9.99998 19.55 9.99998 19Z' fill='%23002964'/%3E%3C/svg%3E%0A");
}
.dockbar_list>div:nth-child(2) a .img {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 14H14.71L14.43 13.73C15.0549 13.0039 15.5117 12.1487 15.7675 11.2256C16.0234 10.3024 16.072 9.33413 15.91 8.38998C15.44 5.60998 13.12 3.38997 10.32 3.04997C9.33559 2.92544 8.33576 3.02775 7.397 3.34906C6.45824 3.67038 5.60542 4.20219 4.90381 4.90381C4.20219 5.60542 3.67038 6.45824 3.34906 7.397C3.02775 8.33576 2.92544 9.33559 3.04997 10.32C3.38997 13.12 5.60998 15.44 8.38998 15.91C9.33413 16.072 10.3024 16.0234 11.2256 15.7675C12.1487 15.5117 13.0039 15.0549 13.73 14.43L14 14.71V15.5L18.25 19.75C18.66 20.16 19.33 20.16 19.74 19.75C20.15 19.34 20.15 18.67 19.74 18.26L15.5 14ZM9.49997 14C7.00997 14 4.99997 11.99 4.99997 9.49997C4.99997 7.00997 7.00997 4.99997 9.49997 4.99997C11.99 4.99997 14 7.00997 14 9.49997C14 11.99 11.99 14 9.49997 14Z' fill='%230051C8'/%3E%3C/svg%3E%0A");
}
.dockbar_list>div:nth-child(2) a .img:hover {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 14H14.71L14.43 13.73C15.0549 13.0039 15.5117 12.1487 15.7675 11.2256C16.0234 10.3024 16.072 9.33413 15.91 8.38998C15.44 5.60998 13.12 3.38997 10.32 3.04997C9.33559 2.92544 8.33576 3.02775 7.397 3.34906C6.45824 3.67038 5.60542 4.20219 4.90381 4.90381C4.20219 5.60542 3.67038 6.45824 3.34906 7.397C3.02775 8.33576 2.92544 9.33559 3.04997 10.32C3.38997 13.12 5.60998 15.44 8.38998 15.91C9.33413 16.072 10.3024 16.0234 11.2256 15.7675C12.1487 15.5117 13.0039 15.0549 13.73 14.43L14 14.71V15.5L18.25 19.75C18.66 20.16 19.33 20.16 19.74 19.75C20.15 19.34 20.15 18.67 19.74 18.26L15.5 14ZM9.49997 14C7.00997 14 4.99997 11.99 4.99997 9.49997C4.99997 7.00997 7.00997 4.99997 9.49997 4.99997C11.99 4.99997 14 7.00997 14 9.49997C14 11.99 11.99 14 9.49997 14Z' fill='%23002964'/%3E%3C/svg%3E%0A");
}
.dockbar_list>div:nth-child(3) a .img {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 18H9.5V16H11.5V14.5H9.5V12.5H8V14.5H6V16H8V18ZM13 17.25H18V15.75H13V17.25ZM13 14.75H18V13.25H13V14.75ZM14.1 10.95L15.5 9.55L16.9 10.95L17.95 9.9L16.55 8.45L17.95 7.05L16.9 6L15.5 7.4L14.1 6L13.05 7.05L14.45 8.45L13.05 9.9L14.1 10.95ZM6.25 9.2H11.25V7.7H6.25V9.2ZM5 21C4.45 21 3.979 20.804 3.587 20.412C3.195 20.02 2.99934 19.5493 3 19V5C3 4.45 3.196 3.979 3.588 3.587C3.98 3.195 4.45067 2.99934 5 3H19C19.55 3 20.021 3.196 20.413 3.588C20.805 3.98 21.0007 4.45067 21 5V19C21 19.55 20.804 20.021 20.412 20.413C20.02 20.805 19.5493 21.0007 19 21H5Z' fill='%230051C8'/%3E%3C/svg%3E%0A");
}
.dockbar_list>div:nth-child(3) a .img:hover {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 18H9.5V16H11.5V14.5H9.5V12.5H8V14.5H6V16H8V18ZM13 17.25H18V15.75H13V17.25ZM13 14.75H18V13.25H13V14.75ZM14.1 10.95L15.5 9.55L16.9 10.95L17.95 9.9L16.55 8.45L17.95 7.05L16.9 6L15.5 7.4L14.1 6L13.05 7.05L14.45 8.45L13.05 9.9L14.1 10.95ZM6.25 9.2H11.25V7.7H6.25V9.2ZM5 21C4.45 21 3.979 20.804 3.587 20.412C3.195 20.02 2.99934 19.5493 3 19V5C3 4.45 3.196 3.979 3.588 3.587C3.98 3.195 4.45067 2.99934 5 3H19C19.55 3 20.021 3.196 20.413 3.588C20.805 3.98 21.0007 4.45067 21 5V19C21 19.55 20.804 20.021 20.412 20.413C20.02 20.805 19.5493 21.0007 19 21H5Z' fill='%23002964'/%3E%3C/svg%3E%0A");
}
.dockbar_list>div:nth-child(4) a .img {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.84 2.72998C16.45 2.72998 16.07 2.87998 15.77 3.16998L13.65 5.28998L18.95 10.6L21.07 8.49998C21.67 7.88998 21.67 6.93998 21.07 6.35998L17.9 3.16998C17.6 2.87998 17.22 2.72998 16.84 2.72998ZM12.94 5.99998L4.84 14.11L7.4 14.39L7.58 16.68L9.86 16.85L10.15 19.41L18.25 11.3M4.25 15.04L2.5 21.73L9.2 19.94L8.96 17.78L6.65 17.61L6.47 15.29' fill='%230051C8'/%3E%3C/svg%3E%0A");
}
.dockbar_list>div:nth-child(4) a .img:hover {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.84 2.72998C16.45 2.72998 16.07 2.87998 15.77 3.16998L13.65 5.28998L18.95 10.6L21.07 8.49998C21.67 7.88998 21.67 6.93998 21.07 6.35998L17.9 3.16998C17.6 2.87998 17.22 2.72998 16.84 2.72998ZM12.94 5.99998L4.84 14.11L7.4 14.39L7.58 16.68L9.86 16.85L10.15 19.41L18.25 11.3M4.25 15.04L2.5 21.73L9.2 19.94L8.96 17.78L6.65 17.61L6.47 15.29' fill='%23002964'/%3E%3C/svg%3E%0A");
}
.dockbar_group {
  display: flex;
}
.dockbar_group >div:first-child {
  margin-right: 30px;
}
/*.dockbar_list >div img {*/
/*  width: 25px;*/
/*  height: 25px;*/
/*  margin: 0 auto;*/
/*  display: block;*/
/*}*/
.dockbar_list >div span {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-top: 3px;
  color: #0051c8;
  white-space: nowrap;
}

/* OdoqComments - 게시물 댓글 */
.comments_wrap .comment {
  padding: 10px 0;
  margin: 0 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}
.comments_wrap .user_info_box {
  justify-content: space-between;
}
.text_tool_box {
  color: #9d9d9d;
}
.text_tool_box span {
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
  cursor: pointer;
}
.comments_wrap .user_info_box .nick_name {
  font-size: 14px;
  font-weight: 600;
  margin-top: -2px;
}
.comments_wrap .user_info_box .nick_name::before {
  display: none;
}
.comments_wrap .comment_content {
  /*resize: none;*/
  /*outline: none;*/
  width: 100%;
  /*height: auto;*/
  /*box-sizing: border-box;*/
  margin-top: 10px;
  font-size: 16px;
}
.comments_wrap .content_info_box {
  margin-top: 5px;
  display: inline-block;
  font-size: 11px;
  color: #9d9d9d;
}
.comments_wrap .content_info_box .date {
  margin-right: 5px;
}
.comments_wrap .content_info_box .reply_btn {
  border: 0;
  font-size: 11px;
  color: #0051c8;
  text-decoration: underline;
  background: #fff;
  cursor: pointer;
}
.comments_wrap .write_comment_box {
  padding: 10px;
}
.comments_wrap .write_comment_box textarea {
  box-sizing: border-box;
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid #ddd;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
}
/*  대댓글  */
.comments_wrap .cocomment_list {
  padding-left: 20px;
}
.comments_wrap .cocomment_list .cocomment {
  margin: 15px 0;
}
.comments_wrap .cocomment_list .cocomment {
  position: relative;
}
.comments_wrap .cocomment_list .cocomment::before {
  position: absolute;
  content: '';
  left: -20px;
  top: 3px;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 10L20 15L15 20' stroke='%239D9D9D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 4V11C4 12.0609 4.42143 13.0783 5.17157 13.8284C5.92172 14.5786 6.93913 15 8 15H20' stroke='%239D9D9D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat;
  width: 13px;
  height: 13px;
  background-size: 13px;
}
.comments_wrap .cocomment_list .cocomment .date {
  color: #9d9d9d;
  margin-top: 5px;
  display: inline-block;
}
.comments_wrap .cocomment_list .cocomment .date::before {
  display: none;
}

/* 목록으로 버튼*/
.comments_wrap .write_comment_box .comment_regist_btn {
  width: 50px;
  border: none;
  background: #0051c8;
  color: #fff;
  border-radius: 5px;
}
.comments_wrap .write_comment_box .comment_regist_btn:active {
  background: rgba(0,41,100,255);
}

/* GRADE LEVEL COLOR*/
.grade {
  background: #eee;
  color: #0051c8;
  font-size: 12px;
  display: inline-block;
  min-width: 15px;
  width: auto;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 2px;
  margin-right: 5px;
  font-weight: 500;
}
.grade.black {
  color: black;
}
.grade.blue {
  color: blue;
}
.grade.green {
  color: green;
}
.grade.red {
  color: red;
}
.grade.pink {
  color: pink;
}
.grade.king {
  color: white;
  background: #000;
}
